html 
    head 
        // CSS only
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        link(rel="stylesheet" href="/styles/custom.css")
        
        body 
        ul.nav.align-items-center.bg-light
            li.nav-item
                a.nav-link.active(href='/') 
                    h1 CoderX
            li.nav-item
                a.nav-link(href='/products') Products
            li.nav-item
                a.nav-link(href='/users') Users
            if u
                li.nav-item.ml-auto.mr-4
                    a.nav-link(href='/auth/login')= u.name

        .container.pt-4
            block content